@model IEnumerable<StreamSpotMVC.Models.Movie>
@{
    ViewData["Title"] = "Library";
}

<div class="align-content-center">
    <form asp-action="SearchResult" class=" mb-3">
        <div class="input-group form-floating">
            <input type="search" class="form-control" name="SearchTitle" placeholder="">
            <label for="SearchTitle">Search Title</label>
            <input type="submit" value="Search" class="btn btn-dark" />
        </div>
    </form>
</div>

<hr />

<div class="row g-4">
    @foreach(var movie in Model)
    {
    <div class="col">
        <div class="card card-hover-effect">
            <a asp-action="Movie" asp-route-id="@movie.Id">
                <img src="@movie.Image" class="card-img-top" alt="@movie.Title">
                <div class="card-body">
                    <h4 class="card-title">@movie.Title</h4>
                </div>
            </a>
        </div>
    </div>
    }
</div>