@model IEnumerable<StreamSpotMVC.Models.Movie>
@{
    ViewData["Title"] = "Library";
}

<div class="text-center">
    <h1 class="display-4">StreamSpot</h1>
    <p>A small web app thats acts like your local little 'NetFlix'!</p>
</div>

<hr />

<div class="row g-4">
    @foreach(var movie in Model)
    {
    <div class="col">
        <div class="card">
            <img src="@movie.Image" class="card-img-top" alt="@movie.Title">
            <div class="card-body">
                <h4 class="card-title">@movie.Title</h4>
            </div>
        </div>
    </div>
    }
</div>