@model IEnumerable<StreamSpotMVC.Models.Movie>
@{
    ViewData["Title"] = "Library";
}

<head>
    <style>
        body {
            margin-bottom: 100px;
        }
    </style>
</head>

<div class="align-content-center">
    <form asp-action="SearchResult" class=" mb-3">
        <div class="input-group">
            <input type="search" class="form-control" name="SearchTitle" placeholder="Search Title">
            <input type="submit" value="Search" class="btn btn-dark" />
        </div>
    </form>
</div>

<hr />
@{
    var movie_count = 0;
    <div class="row g-4">
    @foreach(var movie in Model)
    {
    movie_count++;
    <div class="col">
        <div class="card card-hover-effect">
            <a asp-action="Movie" asp-route-id="@movie.Id">
                <img src="@movie.Image" class="card-img-top" alt="@movie.Title">
                <div class="card-body">
                    <h4 class="card-title">@movie.Title</h4>
                </div>
            </a>
        </div>
    </div>
    }

    @if(movie_count <= 0)
    {
    <div>
        <p>Sorry! No Movies were found...</p>
    </div>
    }
    </div>
}